<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="BaseUrl" value="https://prerelease.api.letsbuylocal.com/"/>
    <add key="ApiVersion" value="v1"/>
    <add key="AuthorizationToken" value=""/>
    <add key="StoreApiKey" value=""/>
    <add key="BaseEmailName" value=""/>
    <add key="AtEmail" value=""/>
  </appSettings>
</configuration>
