<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="BaseUrl" value="https://prerelease.api.letsbuylocal.com/"/>
    <add key="ApiVersion" value="v1"/>
    <add key="AuthorizationToken" value="6367bb99-a3ba-42b8-9f7b-afedf676c607"/>
    <add key="StoreApiKey" value="77b516fbd78ccaefcbe4721e660afc35"/>
    <add key="BaseEmailName" value="margakkrumins"/>
    <add key="AtEmail" value="@gmail.com"/>
  </appSettings>
</configuration>
